.search-page {
    margin-left: 100px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}

button {
    background: #fff;
    height: 30px;
    border: 0;
}
